
<div class="app-wrapper">
    <mat-toolbar>
      <span>Kate Syrelle</span>
    </mat-toolbar>

  <div class="app-content">
    <div class="app-page">
      <router-outlet></router-outlet>
    </div>
    <div class="side">
      <button class="btn" mat-button routerLink="/profile">
        <mat-icon>home</mat-icon> Profile
      </button>
      <button class="btn" mat-button routerLink="/gallery">
        <mat-icon>photo</mat-icon> Gallery
      </button>
      <button class="btn" mat-button routerLink="/contact">
        <mat-icon>call</mat-icon> Contact
      </button>
    </div>
  </div>
</div>

