
<div class="app-wrapper">
    <mat-toolbar>
      <span>Kate</span>
    </mat-toolbar>

  <div class="app-content">
    <div class="app-page">
      <router-outlet></router-outlet>
    </div>
    <div class="side">
      <button class="btn" mat-button routerLink="/profile">
        Profile
      </button>
      <button class="btn" mat-button routerLink="/gallery">
        Gallery
      </button>
      <button class="btn" mat-button routerLink="/contact">
        Contact
      </button>
    </div>
  </div>
</div>

<!-- <mat-icon>home</mat-icon> -->

